extends layout

block content
  h1= title
  p Welcome to #{title} page.
  p I'm currently working on Pug assignment!!
  button(type="button", class="btn btn-outline-success" onclick="goFaster()") Press Me
  br
  br
  div(id="faster") Increase the speed
  br
  a(href="/electronics") Search Results Electronics
  script.
    var mph=20
    var change=1

    function goFaster() {
      mph+=change;
      change++;
      var fastDiv = document.getElementById('faster');
      fastDiv.innerText = `MPH ${mph} with change ${change}`;
    }