body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.electronicsAttr {
  background-color: aquamarine;
  font-weight: bold;
  width: 180px;
  }

  .electronicsAttr1 {
    background-color: rgb(250, 234, 82);
    font-weight: bold;
    width: 120px;
  }
  
  .electronicsAttr2 {
    background-color: rgb(229, 24, 229);
    font-weight: bold;
    width: 120px;
  }

  .electronicsAttr3 {
    background-color: rgb(86, 239, 21);
    font-weight: bold;
    width: 120px;
  }